# Many issues are false positives (globals from config include chain, LDAP resource vs LDAP\Connection).
# See docs/PHPSTAN_ANALYSIS.md. Ignore patterns below allow make quality to pass while keeping level 8.
parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    paths:
        - www/
    excludePaths:
        - www/js/
        - www/bootstrap/
        - www/request_account/fonts/
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        # Globals defined in config.inc.php / web_functions include chain
        - '#Variable \$.+ might not be defined\.#'
        - '#Undefined variable: \$.+#'
        # PHP 8.1+ LDAP extension uses LDAP\Connection; stubs vs resource in code
        - '~Parameter #1 \$ldap of function ldap_.+ expects~'
        - '~Parameter #2 \$result of function ldap_.+ expects~'
        - '~Parameter #2 \$result of function ldap_count_entries expects~'
        # ldap_get_entries returns array|false; code assumes success after @ldap_search
        - '~Cannot access offset .+ on array\|~'
        - '~Cannot access offset .+ on array<int\|string~'
        # Legacy functions without return/param types (would need broad PHPDoc updates)
        - '~Function .+ has no return type specified\.~'
        - '~Function .+ has parameter .+ with no type specified\.~'
        # Strict comparison / binary op hints from PHPDoc
        - '~Strict comparison using === between .+ will always evaluate to false\.~'
        - '~Binary operation .+ between .+ results in an error\.~'
        # Argument type for foreach (array|false)
        - '~Argument of an invalid type .+ supplied for foreach, only iterables are supported\.~'
        # displayMaintenanceMode return type
        - '~Function displayMaintenanceMode\(\) has no return type specified\.~'
        # open_ldap_connection return type / unreachable code
        - '~Function open_ldap_connection\(\) .+ return type\.~'
        - '~never returns resource so it can be removed from the return type~'
        - '~Unreachable statement - code above always terminates\.~'
        # strcasecmp string|false (we fixed config; catch any remaining)
        - '~Parameter #1 \$string1 of function strcasecmp expects string, string\|false given\.~'
        # open_ldap_connection returns resource|false; callers pass through
        - '~Parameter #1 \$ldap_connection of function .+ expects resource, resource\|false given\.~'
        # LDAP entry array may have int keys from ldap_get_entries
        - '~Offset .+ does not exist on array~'
        - '~Parameter #1 \$user_data of function get_ldap_attribute expects array, array\|int given\.~'
        # Type narrowing / always true/false conditions
        - '~Ternary operator condition is always false\.~'
        - '~If condition is always false\.~'
        - '~If condition is always true\.~'
        # GD image color can be int|false when allocated
        - '~Parameter #[46] \$color of function image.+ expects int~'
        - '~Parameter #6 \$color of function imagettftext expects int~'
        # array_rand / offset on array|false
        - '~Cannot access offset int\|string on array~'
        - '~Parameter #1 \$input of function array_rand expects array, array<int, string>\|false given\.~'
        # setup cookie / trailing whitespace
        - '~Function set_setup_cookie invoked with 1 parameter, 0 required\.~'
        - '~File ends with a trailing whitespace\.~'
        # string|false from file_get_contents / json_decode
        - '~Parameter #1 \$json of function json_decode expects string, string\|false given\.~'
        - '~Function get_password_strength_config_js\(\) should return string but returns string\|false\.~'
        # finfo can be false
        - '~Parameter #1 \$finfo of function finfo_.+ expects finfo, finfo\|false given\.~'
        # Variable always exists / offset always exists (type narrowing)
        - '~Variable .+ on left side of \?\? always exists and is not nullable\.~'
        - '~Variable .+ in isset\(\) always exists and is not nullable\.~'
        - '~Offset .+ on array .+ in empty\(\) always exists and is not falsy\.~'
        # Dynamic / optional function
        - '~Function ldap_delete_organization not found\.~'
        # array|int from ldap_get_entries
        - '~Parameter #1 \$array of function array_keys expects array, array\|int given\.~'
        # PHPMailer from vendor (PHPStan may not resolve Composer classes in all contexts)
        - '~Access to property .+ on an unknown class~'
        - '~Call to method .+ on an unknown class~'
        # resource|false for ldap passed to custom functions
        - '~Parameter #1 \$ldap of function create(SystemUser|OrganizationUser) expects resource, resource\|false given\.~'
        # array|int from ldap entry
        - '~Parameter #2 \$user_attribs of function format_user_display_name expects array\|null, array\|int given\.~'
        # string|false from getcwd/getenv, string|null from input
        - '~Parameter #2 \$string of function explode expects string, string\|false given\.~'
        - '~Parameter #1 \$string of function (rtrim|ltrim|strlen|substr) expects string, string\|false\|null given\.~'
        - '~Parameter #1 \$string of function strlen expects string, string\|false given\.~'
        - '~Parameter #1 \$haystack of function strpos expects string, string\|null given\.~'
        - '~Parameter #2 \$subject of function preg_match expects string, string\|null given\.~'
        - '~Function validate_redirect_url\(\) should return string\|false but returns string\|null\.~'
        # Offset in empty() - already have similar; ensure match
        - '~Offset .+ in empty\(\) always exists and is not falsy\.~'
        # open_ldap_connection PHPDoc says resource, PHP 8.1+ returns LDAP\Connection
        - '~Function open_ldap_connection\(\) should return resource\|false but returns~'
        # PHPDoc type certainty
        - '~Right side of && is always true\.~'
        # ldap_get_entries result structure (result['count'] in string)
        - '~Part \$result.+of encapsed string cannot be cast to string\.~'
        - '~Function ldap_get_entry_by_uuid\(\) should return array\|false but returns array\|int\.~'
        - '~Function is_valid_uuid\(\) should return bool but returns int\|false\.~'
        - '~Parameter #1 \$value of function count expects array\|Countable, array\|false given\.~'
        # PHPMailer from Composer (PHPStan in Docker may not resolve vendor)
        - '~Instantiated class PHPMailer.+not found\.~'
        # string|false / string|null from input
        - '~Parameter #1 \$string of function substr expects string, string\|false given\.~'
        - '~Parameter #1 \$string of function (strlen|ltrim) expects string, string\|null given\.~'
